body {
    padding: 0;
    margin: 0;
}

#content-wrapper {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #ea8b17, #ffffff); /* Degradê do laranja para o branco */
    display: flex;
    justify-content: center;
    align-items: center;
  
    padding: 20px 0;
}

#cadastroForm{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;

}


.cadastro-container, .login-container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #00000030;
    width: fit-content;
    max-width: 100%;
    box-sizing: border-box;
}

.input-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.input-group label {
    margin-bottom: 5px;
}

.input-group input, .input-group select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #ea8b17; /* Cor principal para o botão */
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #cc7a15;
}
