body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.search-container {
    text-align: center;
    margin: 20px;
}

#searchInput {
    padding: 10px;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.container-vaga{
    padding: 20px;
    border: solid 1px rgb(99, 99, 99);
}