<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parabéns!</title>
    <link rel="stylesheet" href="/css/finalizacao.css">
    
</head>
<body>

    <div id="header-placeholder"></div>

    <canvas id="canvas"></canvas>

    <div id="modal-background"></div>
    <div id="congrats-container">
        <h1>Parabéns!</h1>
        <p>Você completou sua inscrição com sucesso!</p>
        <p>Seus dados foram enviados para a empresa, enquanto isso, navegue normalmente.</p>
    </div>

    

    

    <script>
        fetch('/views/header.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('header-placeholder').innerHTML = data;
            })
            .catch(error => console.error('Erro ao carregar o cabeçalho:', error));
    </script>



    <script src="/js/finalizacao.js"></script>


    </div> 
    
    
</body>
</html>
