<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    
    <footer class="site-footer">

        <div class="footer-content">
            <div class="logo">
                <img src="/images/gamefica.png" alt="Logo do Site">      
            </div>
    
            <nav class="menu">
                <ul>
                    <li><a href="/views/vaga.html">Vagas</a></li>
                    <li><a href="/views/dashboard.html">Vaga interna</a></li> 
                    <li><a href="/views/minhas-vagas.html">Minhas Vagas</a></li> 
                    <li><a href="/views/planos.html">Planos</a></li> 
                </ul>  
            </nav>
    
            <div class="usuario">
                <!-- Conteúdo do usuário no rodapé -->
            </div>
        </div>
    </footer>

        <div class="copyright">
            &copy; 2023 GamificaAção. Todos os direitos reservados.
        </div>

    
</body>
</html>
