<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/header.css">
</head>
<body>
    <header class="site-header">
        <div class="logo">
            <a href="/"><img src="/images/gamefica.png" alt="Logo do Site"></a>      
        </div>
    
        <nav class="menu">
            <ul>
                <li><a href="/views/vaga.html">Vagas</a></li>
                
            </ul>  
        </nav>
    
        <div class="usuario">
            <div id="login-button">
                <img src="/images/usuario.png" alt="usuario">
                    <span class="username">Diego</span>
    
                <div class="nivel">
                    <p>LVL</p>
                    <p class="level">10</p>
                </div>
            </div>
            

            <div class="progress-wrapper">
                <span class="xp">0 xp</span>
                <div class="progress-container">
                    <div class="progress-bar" id="custom-progress">
                        <span class="progress-label"></span>
                        <span class="remaining-progress"></span>
    
                    </div>
    
                </div>
                <span class="xp">100 xp</span>
            </div>
            
            
              

        </div>
    </header>
    <div class="header-bar"> </div>
    <script src="../js/header.js"></script>
    
    
</body>
</html>


