<!DOCTYPE html>
<html>
<head>
    <title>Perfil</title>
    <link rel="stylesheet" type="text/css" href="/css/perfil.css">
</head>
<body>

    <div id="header-placeholder"></div>

    <div class="perfil-container">
        <h2 class="perfil-title">Perfil</h2>

        <div class="info-group">
            <label>Nome:</label>
            <div id="nome">Carregando...</div>
        </div>

        <div class="info-group">
            <label>CPF:</label>
            <div id="cpf">Carregando...</div>
        </div>

        <div class="info-group">
            <label>Email:</label>
            <div id="email">Carregando...</div>
        </div>

        <div class="info-group">
            <label>Data de Nascimento:</label>
            <div id="dataNascimento">Carregando...</div>
        </div>

        <div class="info-group">
            <label>Sexo:</label>
            <div id="sexo">Carregando...</div>
        </div>

        <div class="info-group">
            <label>Cidade:</label>
            <div id="cidade">Carregando...</div>
        </div>

        <div class="info-group">
            <label>Estado:</label>
            <div id="estado">Carregando...</div>
        </div>

        <div class="info-group">
            <label>Senha:</label>
            <div id="senha">********</div>
        </div>

        <div class="info-group">
            <label>Confirmar Senha:</label>
            <div id="confirmarSenha">********</div>
        </div>

        <div class="info-group">
            <label>Currículo:</label>
            <div id="curriculo">Carregando...</div>
        </div>

    </div>

    <script>
        fetch('/views/header.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('header-placeholder').innerHTML = data;
            })
            .catch(error => console.error('Erro ao carregar o cabeçalho:', error));
    </script>

    <script src="/js/perfil.js"></script>
</body>
</html>
