<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Plano de Assinatura</title>


    <link rel="stylesheet" href="/css/planos.css">
</head>

<body>
    <div id="header"></div>

    <div class="card">
            <div class="card-header">
                <h2>Plano de Assinatura</h2>
            </div>
        
            <div class="card-body">
                <div class="benefits">
                        <h3>Benefícios:</h3>
                    <ul>
                        <li>Benefício 1</li>
                        <li>Benefício 2</li>
                        <li>Benefício 3</li>
                    </ul>
                </div>
                    <button class="subscribe-btn">Assinar Agora</button>
            </div>

     </div>

     <div id="footer"></div>

     <script src="../js/modules/jquery.js"></script>
     <script>
         $(function(){
             $("#header").load("header.html"); 
             $("#footer").load("footer.html"); 
         });
     </script>
 
</body>

</html>
