<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Plano de Assinatura</title>
  <link rel="stylesheet" href="/css/planos.css">
  <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <header class="site-header">
        <div class="logo">
            <img src="/images/gamefica.png" alt="Logo do Site">      
        </div>

        <nav class="menu">
            <ul>
                <li><a href="/views/dashboard.html">Vagas</a></li>
                
            </ul>  
        </nav>

        <div class="usuario">
            <div id="login-button">
                <img src="/images/usuario.png" alt="usuario">
                    <span>Diego </span>

                <div class="nivel">
                    <img id="img-nivel" src="/images/subir-de-nivel.png" alt="nivel">
                    <p>10</p>
                </div>
            </div>
            
            <div class="progress-container">
                <div class="progress-bar" id="custom-progress">
                    <span class="progress-label">56%</span>
                </div>
                <span class="remaining-progress">34%</span>
            </div>
        </div>
       
        
    </header>

    <div class="header-bar"> </div>
    
    <div class="card">
    
    <div class="card-header">
      <h2>Plano de Assinatura</h2>
    </div>
    
    <div class="card-body">
      <div class="benefits">
        <h3>Benefícios:</h3>
        <ul>
          <li>Benefício 1</li>
          <li>Benefício 2</li>
          <li>Benefício 3</li>
          <!-- Adicione mais benefícios conforme necessário -->
        </ul>
      </div>
      <button class="subscribe-btn">Assinar Agora</button>
    </div>
</body>


<script src="/js/header.js"></script>
</html>
